Django==2.2.8
Pillow==7.0.0
Django==2.2.8
django-filebrowser-no-grappelli==3.8.0
django-tinymce4-lite==1.7.5
jsmin==2.2.2
Pillow==7.0.0
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
django-widget-tweaks
django-admin-interface
