{% extends 'bases/bases.html' %}
{% load widget_tweaks%}

{% block content %}
    

    

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Login</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <div class="vizew-login-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-content">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h4>Great to have you back!</h4>
                            <div class="line"></div>
                        </div>

                        <form action="" method="post">
                            {% csrf_token %}
                            
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {% render_field  field class="form-control" placeholder=field.label %}  <!-- permet d'afficher le champs input et determine le type automatiquement en fonction du field-->
                                    {% for error in field.errors  %}
                                        <br>
                                        <div class="alert alert-danger">
                                            {{ error }}
                                        </div>
                                    {% endfor %}                                        
                                </div>
                            {% endfor %}
                                
                            
                            
                            <div class="form-group">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                                </div>
                                <div>
                                    <p>Avez-vous un compte? <a href="{% url 'login' %}">Se connecter</a></p>

                                </div>
                            </div>
                            <button type="submit" class="btn vizew-btn w-100 mt-30">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

    {% endblock content %}