{% extends 'bases/bases.html' %}

{% block content %}
    

    
    <!-- ##### Hero Area Start ##### -->
    <section class="hero--area section-padding-80">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="tab-content">
                    {% for i in article %}
                    {% if forloop.first %}
                        <div class="tab-pane fade show active" id="post-{{i.id}}" role="tabpanel" aria-labelledby="post-{{i.id}}-tab">
                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img" style="background-image: url({{i.image.url}});">
                                    <!-- Play Button -->
                                    <a href="{% url 'video' %}" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
        
                                    <!-- Post Content -->
                                    <div class="post-content">
                                            {% if i.categorie.nom == "sport" %}
                                            <a href="#" class="post-cata cata-success">{{i.categorie}}</a>
                                            {% elif i.categorie.nom == "business" %}
                                            <a href="#" class="post-cata cata-primary">{{i.categorie}}</a>
                                            {% elif i.categorie.nom == "game" %}
                                            <a href="#" class="post-cata">{{i.categorie}}</a>
                                            {% else %}
                                            <a href="#" class="post-cata">{{i.categorie}}</a>
                                            {% endif %}
                                        <a href="{% url 'single' i.id %}" class="post-title">{{i.titre}}</a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                        </div>
                                    </div>
        
                                    <!-- Video Duration -->
                                    <span class="video-duration">05.03</span>
                                </div>
                            </div>
                        {% else %}
                        <div class="tab-pane fade " id="post-{{i.id}}" role="tabpanel" aria-labelledby="post-{{i.id}}-tab">
                            <!-- Single Feature Post -->
                            <div class="single-feature-post video-post bg-img" style="background-image: url({{i.image.url}});">
                                <!-- Play Button -->
                                <a href="{% url 'video' %}" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>

                                <!-- Post Content -->
                                <div class="post-content">
                                        {% if i.categorie.nom == "sport" %}
                                        <a href="#" class="post-cata cata-success">{{i.categorie}}</a>
                                        {% elif i.categorie.nom == "business" %}
                                        <a href="#" class="post-cata cata-primary">{{i.categorie}}</a>
                                        {% elif i.categorie.nom == "game" %}
                                        <a href="#" class="post-cata">{{i.categorie}}</a>
                                        {% else %}
                                        <a href="#" class="post-cata">{{i.categorie}}</a>
                                        {% endif %}
                                    <a href="{% url 'single' i.id %}" class="post-title">{{i.titre}}</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                    </div>
                                </div>

                                <!-- Video Duration -->
                                <span class="video-duration">05.03</span>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <ul class="nav vizew-nav-tab" role="tablist">

                        {% for i in article %}
                        
                        {% if forloop.first %}

                             <li class="nav-item">
                                <a class="nav-link active" id="post-{{i.id}}-tab" data-toggle="pill" href="#post-{{i.id}}" role="tab" aria-controls="post-{{i.id}}" aria-selected="false">
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post style-2 d-flex align-items-center">
                                        <div class="post-thumbnail">
                                            <img src="{{i.image.url}}" alt="">
                                        </div>
                                        <div class="post-content">
                                            <h6 class="post-title">{{i.titre}}</h6>
                                            <div class="post-meta d-flex justify-content-between">
                                                <span><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</span>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        
                            {% else %}
                            <li class="nav-item">
                                    <a class="nav-link " id="post-{{i.id}}-tab" data-toggle="pill" href="#post-{{i.id}}" role="tab" aria-controls="" aria-selected="false">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post style-2 d-flex align-items-center">
                                            <div class="post-thumbnail">
                                                <img src="{{i.image.url}}" alt="">
                                            </div>
                                            <div class="post-content">
                                                <h6 class="post-title">{{i.titre}}</h6>
                                                <div class="post-meta d-flex justify-content-between">
                                                        <span><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</span>
                                                        <span><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</span>
                                                    <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                            
                        {% endfor %}
                        

                        
                       

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Trending Posts Area Start ##### -->
    <section class="trending-posts-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h4>Trending Videos</h4>
                        <div class="line"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                
                {% for i in article %}
                  <div class="col-12 col-md-4">
                    <div class="single-post-area mb-80">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img src="{{i.image.url}}" alt="">

                            <!-- Video Duration -->
                            <span class="video-duration">05.03</span>
                        </div>

                        <!-- Post Content -->
                        <div class="post-content">
                                {% if i.categorie.nom == "sport" %}
                                <a href="#" class="post-cata cata-success">{{i.categorie}}</a>
                                {% elif i.categorie.nom == "business" %}
                                <a href="#" class="post-cata cata-primary">{{i.categorie}}</a>
                                {% elif i.categorie.nom == "game" %}
                                <a href="#" class="post-cata">{{i.categorie}}</a>
                                {% else %}
                                <a href="#" class="post-cata">{{i.categorie}}</a>
                                {% endif %}
                            <a href="{% url 'single' i.id %}" class="post-title">{{i.titre}}</a>
                            <div class="post-meta d-flex">
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                            </div>
                        </div>
                    </div>
                </div>  
                {% endfor %}
                    
                <!-- Single Blog Post -->
                

             

        </div>
    </section>
    <!-- ##### Trending Posts Area End ##### -->

    <!-- ##### Vizew Post Area Start ##### -->
    <section class="vizew-post-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="all-posts-area">
                        <!-- Section Heading -->
                        <div class="section-heading style-2">
                            <h4>Featured Videos</h4>
                            <div class="line"></div>
                        </div>

                        <!-- Featured Post Slides -->
                        <div class="featured-post-slides owl-carousel mb-30">
                            <!-- Single Feature Post -->
                            
                            {% for i in article_v %}

                            
                            {% if forloop.counter < 3 %}
                                
                            
                            <div class="single-feature-post video-post bg-img" style="background-image: url({{i.image.url}});">
                                <!-- Play Button -->
                                <a href="{% url 'video' %}" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                                
                                <!-- Post Content -->
                                <div class="post-content">
                                    
                                    {% if i.categorie.nom == "sport" %}
                                        <a href="#" class="post-cata cata-success">{{i.categorie}}</a>
                                    {% elif i.categorie.nom == "business" %}
                                        <a href="#" class="post-cata cata-primary">{{i.categorie}}</a>
                                    {% elif i.categorie.nom == "game" %}
                                        <a href="#" class="post-cata">{{i.categorie}}</a>
                                    {% else %}
                                         <a href="#" class="post-cata">{{i.categorie}}</a>
                                    {% endif %}
                                    <a href="{% url 'single' i.id %}" class="post-title">{{i.titre}}</a>
                                   
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{i.Commentaire_count}}</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                    </div>
                                </div>
                                
                                <!-- Video Duration -->
                                <span class="video-duration">05.03</span>
                            </div>
                            {% endif %}
                                
                            {% endfor %}
                                

                            <!-- Single Feature Post -->
                        </div>

                        <div class="row">
                            <!-- Single Blog Post -->
                            
                            {% for i in article %}
                            
                            {% if i.categorie.nom == "game" %}
                                 <div class="col-12 col-md-6">
                                <div class="single-post-area mb-80">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="{{i.image.url}}" alt="">

                                        <!-- Video Duration -->
                                        <span class="video-duration">05.03</span>
                                    </div>

                                    <!-- Post Content -->
                                        
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-danger">{{i.categorie}}</a>
                                        <a href="#" class="post-title">{{i.titre}}</a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}    
                            {% endfor %}
                                
                            

                            <!-- Single Blog Post -->
                            
                            {% for i in article %}
                            
                            {% if i.categorie.nom == "business" %}
                               <div class="col-12 col-md-6">
                                <div class="single-post-area mb-80">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="{{i.image.url}}" alt="">

                                        <!-- Video Duration -->
                                        <span class="video-duration">05.03</span>
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-primary">{{i.categorie}}</a>
                                        <a href="#" class="post-title">{{i.titre}}</a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{i.Commentaire_count}}</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            {% endif %}      
                            {% endfor %}
                                
                            
                        </div>

                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <!-- Section Heading -->
                                <div class="section-heading style-2">
                                    <h4>Sport Videos</h4>
                                    <div class="line"></div>
                                </div>

                                <!-- Sports Video Slides -->
                                
                                {% for i in article %}
                                    
                                    {% if i.categorie.nom == "game" %}
                                        <div class="sport-video-slides owl-carousel mb-50">
                                    <!-- Single Blog Post -->
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="{{i.image.url}}" alt="">

                                            <!-- Video Duration -->
                                            <span class="video-duration">05.03</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="#" class="post-cata cata-sm cata-success">{{i.categorie}}</a>
                                            <a href="#" class="post-title">{{i.titre}}</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Blog Post -->
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="{{i.image.url}}" alt="">

                                            <!-- Video Duration -->
                                            <span class="video-duration">05.03</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="#" class="post-cata cata-sm cata-success">{{i.categorie}}</a>
                                            <a href="#" class="post-title">{{i.titre}}</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    {% endif %}
                                        
                                {% endfor %}
                         </div>

                            <div class="col-12 col-lg-6">
                                <!-- Section Heading -->
                                <div class="section-heading style-2">
                                    <h4>Business Videos</h4>
                                    <div class="line"></div>
                                </div>
                                
                                {% for i in article %}
                                 
                                 {% if i.categorie.nom == "business" %}
                                      <!-- Business Video Slides -->
                                <div class="business-video-slides owl-carousel mb-50">
                                    <!-- Single Blog Post -->
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="{{i.image.url}}" alt="">

                                            <!-- Video Duration -->
                                            <span class="video-duration">05.03</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="#" class="post-cata cata-sm cata-primary">{{i.categorie}}</a>
                                            <a href="#" class="post-title">{{i.titre}}</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Blog Post -->
                                    <div class="single-post-area">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="{{i.image.url}}" alt="">

                                            <!-- Video Duration -->
                                            <span class="video-duration">05.03</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="#" class="post-cata cata-sm cata-primary">{{i.categorie}}</a>
                                            <a href="#" class="post-title">{{i.titre}}</a>
                                            <div class="post-meta d-flex">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{i.Commentaire_count}}</a>
                                                <a href="#"><i class="fa fa-    eye" aria-hidden="true"></i> {{i.vue}}</a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 {% endif %}
                                     
                                
                                {% endfor %}
                                    
                               
                            </div>
                        </div>

                        <div class="row mb-30">
                            
                            {% for i in article %}
                              <div class="col-12 col-lg-6">
                                <div class="single-blog-post style-3 d-flex mb-50">
                                    <div class="post-thumbnail">
                                        <img src="{{i.image.url}}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a href="#" class="post-title">{{i.titre}}</a>
                                        <div class="post-meta d-flex justify-content-between">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 17</a>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            {% endfor %}
                        </div>

                        <!-- Section Heading -->
                        <div class="section-heading style-2">
                            <h4>Latest News</h4>
                            <div class="line"></div>
                        </div>

                        
                        {% for i in article_v %}
                        
                        {% if forloop < 3  %}
                            <div class="featured-post-slides owl-carousel mb-30">
                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img" style="background-image: url({{i.image.url}});">
                                    <!-- Play Button -->
                                    <a href="{% url 'video' %}" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata">{{i.categorie}}</a>
                                        <a href="#" class="post-title">{{i.titre}}</a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                        </div>
                                    </div>

                                    <!-- Video Duration -->
                                    <span class="video-duration">05.03</span>
                                </div>

                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img" style="background-image: url(/static/img/bg-img/7.jpg);">
                                    <!-- Play Button -->
                                    <a href="{% url 'video' %}" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata">Sports</a>
                                        <a href="#" class="post-title">Reunification of migrant toddlers, parents should be completed Thursday</a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 25</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                        </div>
                                    </div>

                                    <!-- Video Duration -->
                                    <span class="video-duration">05.03</span>
                                </div>
                            </div>  
                        {% endif %}  
                        {% endfor %}

                        <!-- Featured Post Slides -->
                        {% for i in article %}
                            <!-- Single Post Area -->
                        <div class="single-post-area mb-30">
                            <div class="row align-items-center">
                                <div class="col-12 col-lg-6">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="{{i.image.url}}" alt="">

                                        <!-- Video Duration -->
                                        <span class="video-duration">05.03</span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <!-- Post Content -->
                                    <div class="post-content mt-0">
                                            {% if i.categorie.nom == "sport" %}
                                            <a href="#" class="post-cata cata-success">{{i.categorie}}</a>
                                            {% elif i.categorie.nom == "business" %}
                                            <a href="#" class="post-cata cata-primary">{{i.categorie}}</a>
                                            {% elif i.categorie.nom == "game" %}
                                            <a href="#" class="post-cata">{{i.categorie}}</a>
                                            {% else %}
                                            <a href="#" class="post-cata">{{i.categorie}}</a>
                                            {% endif %}
                                        <a href="{% url 'single' i.id %}" class="post-title mb-2">{{i.titre}}</a>
                                        <div class="post-meta d-flex align-items-center mb-2">
                                            <a href="#" class="post-author">{{i.auteur}}</a>
                                            <i class="fa fa-circle" aria-hidden="true"></i>
                                            <a href="#" class="post-date">{{i.date_add}}</a>
                                        </div>
                                        <p class="mb-2">{{i.description}}</p>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{i.Commentaire_count}}</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                            
                        

                                </div>
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <div class="sidebar-area">

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget latest-video-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Latest Video</h4>
                                <div class="line"></div>
                            </div>
                            
                            {% for i in article_r %}
                               <div class="single-post-area mb-30">
                                <!-- Post Thumbnail -->
                                <div class="post-thumbnail">
                                    <img src="{{i.image.url}}" alt="">

                                    <!-- Video Duration -->
                                    <span class="video-duration">05.03</span>
                                </div>

                                <!-- Post Content -->
                                <div class="post-content">
                                    <a href="#" class="post-cata cata-sm cata-success">{{i.categorie}}</a>
                                    <a href="#" class="post-title">{{i.description}}</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                    </div>
                                </div>
                            </div> 
                            {% endfor %}
                                
                            <!-- Single Blog Post -->
                            
                            {% for i in article_recent %}
                               <div class="single-blog-post d-flex">
                                <div class="post-thumbnail">
                                    <img src="{{i.image.url}}" alt="">
                                </div>
                                <div class="post-content">
                                    <a href="#" class="post-title">{{i.titre}}</a>
                                    <div class="post-meta d-flex justify-content-between">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{i.Commentaire_count}}</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 23</a>
                                    </div>
                                </div>
                            </div> 
                            {% endfor %}
                        </div>

                        <!-- ***** Single Widget ***** 
                        <div class="single-widget newsletter-widget mb-50" id="app">
                            <!-- Section Heading 
                            <div class="section-heading style-2 mb-30">
                                <h4>${ restaurant[0].city }.</h4>
                                <div class="line"></div>
                            </div>
                            <p>${ restaurant[0].description }.</p>
                            <!-- Newsletter Form 
                            <div class="newsletter-form">
                                <form action="#" method="post">
                                    <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="Enter your email">
                                    <button type="submit" class="btn vizew-btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget mb-50">
                            <!-- Section Heading -->
                            <div class="section-heading style-2 mb-30">
                                <h4>Most Viewed Playlist</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Single Blog Post -->
                            
                            {% for i in article_vue %}
                                <div class="single-blog-post d-flex">
                                    <div class="post-thumbnail">
                                        <img src="{{i.image.url}}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a href="{% url 'single' i.id %}" class="post-title">{{i.titre}}</a>
                                        <div class="post-meta d-flex justify-content-between">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>{{i.Commentaire_count}}</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{i.vue}}</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                                
                            

                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Vizew Psot Area End ##### -->
    {% endblock content %}