{% extends 'bases/bases.html' %}

{% block content %}
    

    

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Archives</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Reunification of migrant toddlers</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Pager Area Start ##### -->
    <div class="vizew-pager-area">
        <div class="vizew-pager-prev">
            <p>PREVIOUS ARTICLE</p>

            <!-- Single Feature Post -->
            <div class="single-feature-post video-post bg-img pager-article" style="background-image: url(img/bg-img/15.jpg);">
                <!-- Post Content -->
                <div class="post-content">
                    <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                    <a href="video-post.html" class="post-title">Searching for the 'angel' who held me on Westminster Bridge</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 18</a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 32</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 24</a>
                    </div>
                </div>
                <!-- Video Duration -->
                <span class="video-duration">11.13</span>
            </div>
        </div>

        <div class="vizew-pager-next">
            <p>NEXT ARTICLE</p>

            <!-- Single Feature Post -->
            <div class="single-feature-post video-post bg-img pager-article" style="background-image: url({{article.image.url}});">
                <!-- Post Content -->
                <div class="post-content">
                    <a href="#" class="post-cata cata-sm cata-business">{{article.categorie}}</a>
                    <a href="video-post.html" class="post-title">{{ article.titre }}</a>
                    <div class="post-meta d-flex">
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{article.commentaire.count}}</a>
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{article.vue}}</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                    </div>
                </div>
                <!-- Video Duration -->
                <span class="video-duration">06.59</span>
            </div>
        </div>
    </div>
    <!-- ##### Pager Area End ##### -->

    <!-- ##### Post Details Area Start ##### -->
    <section class="post-details-area mb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="post-details-thumb mb-50">
                        <img src="{{article.image.url}}" alt="">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Post Details Content Area -->
                <div class="col-12 col-lg-8 col-xl-7">
                    <div class="post-details-content">
                        <!-- Blog Content -->
                        <div class="blog-content">

                            <!-- Post Content -->
                            <div class="post-content mt-0">
                                <a href="#" class="post-cata cata-sm cata-danger">{{article.categorie}}</a>
                                <a href="single-post.html" class="post-title mb-2">{{article.titre}}</a>

                                <div class="d-flex justify-content-between mb-30">
                                    <div class="post-meta d-flex align-items-center">
                                        <a href="#" class="post-author">{{article.auteur}}</a>
                                        <i class="fa fa-circle" aria-hidden="true"></i>
                                        <a href="#" class="post-date">{{article.date_add}}</a>
                                    </div>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> {{article.Commentaire_count}}</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> {{article.vue}}</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                    </div>
                                </div>
                            </div>

                            <p>{{article.presentation}}</p>
                            <blockquote class="vizew-blockquote mb-15">
                                <h5 class="blockquote-text">“If you’re going to try, go all the way. There is no other feeling like that. You will be alone with the gods.”</h5>
                                {{article.content|safe}}
                            </blockquote>

                           

                            <h4>Immediate Dividends</h4>

                            

                            <!-- Post Tags -->
                            <div class="post-tags mt-30">
                                <ul>
                                    
                                    {% for i in article.tague.all %}
                                         <li><a href="#">{{i.nom}}</a></li>
                                    {% endfor %}
                                        
                                   
                                </ul>
                            </div>
                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix mb-50">

                                <!-- Section Title -->
                                <div class="section-heading style-2">
                                    <h4>Comment</h4>
                                    <div class="line"></div>
                                </div>

                                <ul>
                                
                                {% for i in commentaire %}
                                     <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="{{i.user.User_profil.avatar.url}}" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="comment-date">{{i.date_add}}</a>
                                                <h6>{{i.user.username}}</h6>
                                                <p>{{i.message}}</p>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" class="like">like</a>
                                                    <a href="#" class="reply">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                    
                                   
                                </ul>
                            </div>

                            <!-- Post A Comment Area -->
                            <div class="post-a-comment-area">

                                <!-- Section Title -->
                                <div class="section-heading style-2">
                                    <h4>Leave a reply</h4>
                                    <div class="line"></div>
                                </div>

                                <!-- Reply Form -->
                                <div class="contact-form-area">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" id="name" placeholder="Your Name*">
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <input type="email" class="form-control" id="email" placeholder="Your Email*">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" class="form-control" id="message" placeholder="Message*"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn vizew-btn mt-30" type="submit">Submit Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Post Details Area End ##### -->
    {% endblock content %}